<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='JSONSource' Manufacturer='Acme Ltd.'
    Id='fc900274-792e-4a43-ac68-e87794a0380e'
    UpgradeCode='fc900274-792e-4a43-ac68-e87794a0380e'
    Language='1033' Codepage='1252' Version='1.200.0'>

    <Package Id='*' Keywords='Installer' Description="Acme's Foobar 1.0 Installer"
      Comments='Foobar is a registered trademark of Acme Ltd.' Manufacturer='Acme Ltd.'
      InstallerVersion='100' Languages='1033' Platform="x64" Compressed='yes' SummaryCodepage='1252' />

    <Property Id="INSTALLDIR_120_32">
      <RegistrySearch Id='Installdir_120_32' Type='raw' Root='HKLM' Key='Software\Wow6432Node\Microsoft\Microsoft SQL Server\120\SSIS\Setup\DTSPath' Name='(Default)' />
    </Property>
    <Property Id="INSTALLDIR_120_64">
      <RegistrySearch Id='Installdir_120_64' Type='raw' Root='HKLM' Key='Software\Microsoft\Microsoft SQL Server\120\SSIS\Setup\DTSPath' Name='(Default)' />
    </Property>
    <Property Id="INSTALLDIR_110_32">
      <RegistrySearch Id='Installdir_110_32' Type='raw' Root='HKLM' Key='Software\Wow6432Node\Microsoft\Microsoft SQL Server\110\SSIS\Setup\DTSPath' Name='(Default)' />
    </Property>
    <Property Id="INSTALLDIR_110_64">
      <RegistrySearch Id='Installdir_110_64' Type='raw' Root='HKLM' Key='Software\Microsoft\Microsoft SQL Server\110\SSIS\Setup\DTSPath' Name='(Default)' />
    </Property>

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir' >
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='INSTALLDIR_110_64'>
          <Component Id='MSSQL110_64' Guid='9b8dc195-d768-4e2f-896f-aeb60a419b8a'  Win64='yes'>
            <File Id='JSONSource_110_64' Name="com.webkingsoft.JSONSource_110.dll" Source="dll\x64\com.webkingsoft.JSONSource_110.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id='INSTALLDIR_120_64'>
          <Component Id='MSSQL120_64' Guid='6eb492c5-a310-463e-9cd6-b855c1683bc6' Win64='yes'>
            <File Id='JSONSource_120_64' Name="com.webkingsoft.JSONSource_120.dll" Source="dll\x64\com.webkingsoft.JSONSource_120.dll" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR_120_32'>
          <Component Id='MSSQL120_32' Guid='ca41385e-081d-4ee8-94ea-1a4ee3705744'>
            <File Id='JSONSource_120_32' Name="com.webkingsoft.JSONSource_120.dll" Source="dll\x32\com.webkingsoft.JSONSource_120.dll" KeyPath="yes" />
          </Component>
        </Directory>
        <Directory Id='INSTALLDIR_110_32' >
          <Component Id='MSSQL110_32' Guid='3bd754be-6588-4063-bbd2-0dabf4927f08'>
            <File Id='JSONSource_110_32' Name="com.webkingsoft.JSONSource_110.dll" Source="dll\x32\com.webkingsoft.JSONSource_110.dll" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>


    <Feature Id='Complete' Level='1'>
      <Feature Id='MSSQL_120' Level='1'>
        <ComponentRef Id='MSSQL120_32' />
        <ComponentRef Id='MSSQL120_64' />
      </Feature>
      <Feature Id='MSSQL_110' Level='1'>
        <ComponentRef Id='MSSQL110_32' />
        <ComponentRef Id='MSSQL110_64' />
      </Feature>
    </Feature>
    
    
  </Product>
  
</Wix>